In [29]:
import numpy as np
import pandas as pd

In [30]:
columns = [
    'ORIGINATION_DATE',
    'PRINC_GRACE_PERIOD_END_DATE',
    'NEXT_INT_PMT_DATE',
    'NEXT_RESET_DATE',
    'D_ARRE_TITR',
    'MATURITY_DATE'
    ]

# =(df_BPI_Reporting_Moodys_Loan_TITPSG_[['ORIGINATION_DATE','PRINC_GRACE_PERIOD_END_DATE','NEXT_INT_PMT_DATE','NEXT_RESET_DATE','D_ARRE_TITR','MATURITY_DATE']]

df_data= pd.read_csv('moodies.txt',engine='python',sep=';')

In [31]:
df_data

  BALLOON_AMOUNT CURRENT_BALANCE
0         123,23             ND5
1          13,23              12

In [32]:
# type(df_data[['ORIGINATION_DATE']])

df_BPI_Reporting_Moodys_Loan_TITPSG_[['ORIGINATION_DATE','PRINC_GRACE_PERIOD_END_DATE','NEXT_INT_PMT_DATE','NEXT_RESET_DATE','D_ARRE_TITR','MATURITY_DATE']]=(df_BPI_Reporting_Moodys_Loan_TITPSG_[['ORIGINATION_DATE','PRINC_GRACE_PERIOD_END_DATE','NEXT_INT_PMT_DATE','NEXT_RESET_DATE','D_ARRE_TITR','MATURITY_DATE']]).applymap(lambda x : pd.to_datetime(x,format='%d/%m/%Y',errors='coerce'))

In [33]:
# df_data['BALLOON_AMOUNT']
# df_data['CURRENT_BALANCE']
new_df_data = df_data[['BALLOON_AMOUNT','CURRENT_BALANCE']]

In [34]:
def dotruc(v):
    if isinstance(v,str):
        v = v.replace(',','.')
    print(v)
    r = pd.to_numeric(v,errors='coerce')
    return r

In [35]:
df_data_2 = new_df_data.map(dotruc)
df_data_2['RESULT_1'] = df_data_2['BALLOON_AMOUNT'] / df_data_2['CURRENT_BALANCE']
df_data_2['RESULT_2'] = df_data_2['BALLOON_AMOUNT'] * df_data_2['CURRENT_BALANCE']
df_data_2['RESULT_3'] = df_data_2['BALLOON_AMOUNT'] + df_data_2['CURRENT_BALANCE']
df_data_2['RESULT_4'] = df_data_2['BALLOON_AMOUNT'] - df_data_2['CURRENT_BALANCE']
df_data_2

123.23
13.23
ND5
12

   BALLOON_AMOUNT  CURRENT_BALANCE  RESULT_1  RESULT_2  RESULT_3  RESULT_4
0          123.23              NaN       NaN       NaN       NaN       NaN
1           13.23             12.0    1.1025    158.76     25.23      1.23