In [6]:
import numpy as np
import pandas as pd

In [7]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [8]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
dates = pd.date_range("20130101", periods=6)

In [11]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))

In [13]:
df

                   A         B         C         D
2013-01-01 -1.759727 -1.779751  0.027729  1.177937
2013-01-02  0.187935  0.396734  1.065160  0.584334
2013-01-03  1.025953  0.455675  1.507310 -2.211839
2013-01-04 -0.329445  2.117878 -0.614381  0.320185
2013-01-05 -2.407251 -0.927354  0.347662 -0.254901
2013-01-06 -1.249537 -0.423560  0.286478 -0.373254

In [14]:
df.head()

                   A         B         C         D
2013-01-01 -1.759727 -1.779751  0.027729  1.177937
2013-01-02  0.187935  0.396734  1.065160  0.584334
2013-01-03  1.025953  0.455675  1.507310 -2.211839
2013-01-04 -0.329445  2.117878 -0.614381  0.320185
2013-01-05 -2.407251 -0.927354  0.347662 -0.254901

In [15]:
df.tail()

                   A         B         C         D
2013-01-02  0.187935  0.396734  1.065160  0.584334
2013-01-03  1.025953  0.455675  1.507310 -2.211839
2013-01-04 -0.329445  2.117878 -0.614381  0.320185
2013-01-05 -2.407251 -0.927354  0.347662 -0.254901
2013-01-06 -1.249537 -0.423560  0.286478 -0.373254

In [16]:
df['A']

2013-01-01   -1.759727
2013-01-02    0.187935
2013-01-03    1.025953
2013-01-04   -0.329445
2013-01-05   -2.407251
2013-01-06   -1.249537
Freq: D, Name: A, dtype: float64